<h1><%=@team.name%></h1>

<h3>Team Motto: <i><%=@team.motto%></i></h3>

<p>Hero Name: <strong><%=@member1.name%></strong></p>
<p>Hero Power: <%=@member1.power%></p>
<p>Hero Bio: <%=@member1.bio%></p>

